<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.check.mapper.CuHwCscfMapper">
  <resultMap id="BaseResultMap" type="com.example.check.domain.CuHwCscf">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="csValue" jdbcType="VARCHAR" property="csValue" />
    <result column="sipuri" jdbcType="VARCHAR" property="sipuri" />
    <result column="deviceName" jdbcType="VARCHAR" property="deviceName" />
    <result column="vendor" jdbcType="VARCHAR" property="vendor" />
    <result column="addressType" jdbcType="VARCHAR" property="addressType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, csValue, province, sipuri, deviceName,vendor, addressType,remark
  </sql>
  
  <select id="isTableExist" parameterType="java.lang.String"  resultType="java.lang.Long">
  	select count(1) from information_schema.TABLES 
  	where LCASE(table_name)= #{tableName};
  </select>
  
  <update id="createTable"  parameterType="java.lang.String">
  	CREATE TABLE ${newTableName} LIKE ${tableName};
  </update>
  
  <insert id="copyTable"  parameterType="java.lang.String">
  	INSERT INTO ${newTableName} 
  	SELECT * FROM ${tableName};
  </insert>
  
  <update id="dropTable" parameterType="java.lang.String">
  	drop table ${tableName}   
  </update>
  
  <select id="selectByExample" parameterType="com.example.check.domain.CuHwCscfExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cu_hw_cscf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cu_hw_cscf
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cu_hw_cscf
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteByExample" parameterType="com.example.check.domain.CuHwCscfExample">
    delete from cu_hw_cscf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.example.check.domain.CuHwCscf">
    insert into cu_hw_cscf (id, csValue, sipuri, deviceName,vendor, addressType, remark)
    values (#{id,jdbcType=INTEGER},#{csValue,jdbcType=VARCHAR}, 
    #{sipuri,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR}, #{vendor,jdbcType=VARCHAR},
    #{addressType,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="batchImport" parameterType="java.util.List">
    insert into cu_hw_cscf (csValue, sipuri, deviceName,vendor, addressType, remark)
    values 
    <foreach collection="list" item="item" index= "index" separator =",">
    	(
    		#{item.csValue,jdbcType=VARCHAR},
    		#{item.sipuri,jdbcType=VARCHAR},
    		#{item.deviceName,jdbcType=VARCHAR},
    		#{item.vendor,jdbcType=VARCHAR},
    		#{item.addressType,jdbcType=VARCHAR},
    		#{item.remark,jdbcType=VARCHAR}
    	)
    </foreach>
  </insert>
  
  <update id="batchUpdateProvince" parameterType="java.util.List">
	<foreach collection="list" separator=";" item="item">  
        update cu_hw_cscf set  
        province = #{item.province,jdbcType=VARCHAR}
        where csValue =#{item.csValue,jdbcType=VARCHAR}
    </foreach>
  </update>
  
  <insert id="insertSelective" parameterType="com.example.check.domain.CuHwCscf">
    insert into cu_hw_cscf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="csValue != null">
        csValue,
      </if>
      <if test="sipuri != null">
        sipuri,
      </if>
      <if test="deviceName != null">
        deviceName,
      </if>
      <if test="vendor != null">
        vendor,
      </if>
      <if test="addressType != null">
        addressType,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="csValue != null">
        #{csValue,jdbcType=VARCHAR},
      </if>
      <if test="sipuri != null">
        #{sipuri,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null">
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="vendor != null">
        #{vendor,jdbcType=VARCHAR},
      </if>
      <if test="addressType != null">
        #{addressType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.example.check.domain.CuHwCscfExample" resultType="java.lang.Long">
    select count(*) from cu_hw_cscf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map">
    update cu_hw_cscf
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.csValue != null">
        csValue = #{record.csValue,jdbcType=VARCHAR},
      </if>
      <if test="record.sipuri != null">
        sipuri = #{record.sipuri,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceName != null">
        deviceName = #{record.deviceName,jdbcType=VARCHAR},
      </if>
      <if test="record.vendor != null">
        vendor = #{record.vendor,jdbcType=VARCHAR},
      </if>
      <if test="record.addressType != null">
        addressType = #{record.addressType,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <update id="updateByExample" parameterType="map">
    update cu_hw_cscf
    set id = #{record.id,jdbcType=INTEGER},
      csValue = #{record.csValue,jdbcType=VARCHAR},
      sipuri = #{record.sipuri,jdbcType=VARCHAR},
      deviceName = #{record.deviceName,jdbcType=VARCHAR},
      vendor = #{record.vendor,jdbcType=VARCHAR},
      addressType = #{record.addressType,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.example.check.domain.CuHwCscf">
    update cu_hw_cscf
    <set>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="csValue != null">
        csValue = #{csValue,jdbcType=VARCHAR},
      </if>
      <if test="sipuri != null">
        sipuri = #{sipuri,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null">
        deviceName = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="vendor != null">
        vendor = #{vendor,jdbcType=VARCHAR},
      </if>
      <if test="addressType != null">
        addressType = #{addressType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.example.check.domain.CuHwCscf">
    update cu_hw_cscf
    set 
      csValue = #{record.csValue,jdbcType=VARCHAR},
      sipuri = #{record.sipuri,jdbcType=VARCHAR},
      deviceName = #{record.deviceName,jdbcType=VARCHAR},
      vendor = #{record.vendor,jdbcType=VARCHAR},
      addressType = #{record.addressType,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>